/*
* Font Size
* Our Root font size is 16px;
*/

// Font Family
$primary-font: "Poppins";

// Color Variables
$primary-color: #167400;
$secondary-color: #323232;
$default-color: #000000;
$green-1-color: #2aa70c;

// Screen Resolution Variables
$mobile-min: 320px;
$mobile-max: 767px;

$tab-min: 768px;
$tab-max: 1100px;

$dekstop: 1101px;
$large-monitor: 1920px;

//Backgrond Colors
$login-background: #4e498d;

//App Text_colors
$primary-color: #197a56;
$secondary-color: #464444;
$default-color: #000000;
$blue-color-1: #423e79;
$orange-color: #f47458;
$blue-color-2: #eef0fc;
$blue-color-3: #312d59;
$orange-color: #f47458;
$input-background: #514b96;
$input-label: rgba(255, 255, 255, 0.5);
